* {
    font-size: $baseFontSize;
    font-weight: 400;
    line-height: 1;
    color: $whiteColor;
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}
*:before, *:after{box-sizing: border-box;}
:focus, :active, a:focus, a:active{outline: none;}
html {scroll-behavior: smooth;}
html,body{height: 100%; width: 100%;}
input, button, textarea{font-family: inherit;}
input::-ms-clear{display: none;}
a, button{cursor: pointer; color: inherit;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited, a:hover {text-decoration: none;}
ul li {list-style: none;}
img{vertical-align: top;}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 420px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
